.home-code-input {
  all: unset;
  font-size: inherit;
  color: inherit;
  background: inherit;
  text-align: center;

  max-height: 2.5rem;
  min-width: 30vw;
  max-width: 30vw;
}

.home-code-input:focus::placeholder {
  opacity: 0;
}

.home-wrapper {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-size: 1.0rem;
}

.home-button {
  min-width: 30vw;
  max-width: 30vw;
}

