.typingtest-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typingtest-words {
  color: var(--subtle);
  text-align: justify;
  font-size: 2.0rem;
  margin: 20px;
}
