.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 100vh;
}

.game-countdown {
  position: absolute;
  top: 20%;

  color: var(--accent2);
  font-size: 36px;
}
